BENTON_SANS_PATH = 'https://www.aexp-static.com/nav/ngn/fonts'

@font-face
	font-family 'BentonSans'
	src         local("Benton Sans Regular")
	src         url(BENTON_SANS_PATH + "/3be50273-0b2e-4aef-ae68-882eacd611f9-2.eot")
	src         url(BENTON_SANS_PATH + "/3be50273-0b2e-4aef-ae68-882eacd611f9-2.eot?") format("embedded-opentype"),url(BENTON_SANS_PATH + "/3be50273-0b2e-4aef-ae68-882eacd611f9-3.woff") format("woff"),url(BENTON_SANS_PATH + "/3be50273-0b2e-4aef-ae68-882eacd611f9-1.ttf") format("truetype"),url(BENTON_SANS_PATH + "/3be50273-0b2e-4aef-ae68-882eacd611f9-4.svg#web") format("svg")
	font-style  normal
	font-weight normal

@font-face 
	font-family 'BentonSans-Bd'
	src         local("Benton Sans Bold")
	src         url(BENTON_SANS_PATH + "/342cdec0-7d5d-43a9-84bf-8a77730526ee-2.eot")
	src         url(BENTON_SANS_PATH + "/342cdec0-7d5d-43a9-84bf-8a77730526ee-2.eot?") format("embedded-opentype"),url(BENTON_SANS_PATH + "/342cdec0-7d5d-43a9-84bf-8a77730526ee-3.woff") format("woff"),url(BENTON_SANS_PATH + "/342cdec0-7d5d-43a9-84bf-8a77730526ee-1.ttf") format("truetype"),url(BENTON_SANS_PATH + "/342cdec0-7d5d-43a9-84bf-8a77730526ee-4.svg#web") format("svg")
	font-style  normal
	font-weight bold

@font-face 
	font-family 'BentonSans-Bk'
	src         local("Benton Sans Book")
	src         url(BENTON_SANS_PATH + "/325e6ad0-38fb-4bad-861c-d965eab101d5-2.eot")
	src         url(BENTON_SANS_PATH + "/325e6ad0-38fb-4bad-861c-d965eab101d5-2.eot?") format("embedded-opentype"),url(BENTON_SANS_PATH + "/325e6ad0-38fb-4bad-861c-d965eab101d5-3.woff") format("woff"),url(BENTON_SANS_PATH + "/325e6ad0-38fb-4bad-861c-d965eab101d5-1.ttf") format("truetype"),url(BENTON_SANS_PATH + "/325e6ad0-38fb-4bad-861c-d965eab101d5-4.svg#web") format("svg")
	font-style  normal
	font-weight normal

/*@font-face 
	font-family 'BentonSans-Lt'
	src         local("Benton Sans Light")
	src         url(BENTON_SANS_PATH + "/481b5db4-48a0-4c43-ae8b-fd1a0b7cb481-2.eot")
	src         url(BENTON_SANS_PATH + "/481b5db4-48a0-4c43-ae8b-fd1a0b7cb481-2.eot?") format("embedded-opentype"),url(BENTON_SANS_PATH + "/481b5db4-48a0-4c43-ae8b-fd1a0b7cb481-3.woff") format("woff"),url(BENTON_SANS_PATH + "/481b5db4-48a0-4c43-ae8b-fd1a0b7cb481-1.ttf") format("truetype"),url(BENTON_SANS_PATH + "/481b5db4-48a0-4c43-ae8b-fd1a0b7cb481-4.svg#web") format("svg")
	font-style  normal
	font-weight normal
*/
@font-face 
	font-family 'BentonSans-Md'
	src         local("Benton Sans Medium")
	src         url(BENTON_SANS_PATH + "/0fababca-4914-46dd-9b0f-efbd51f67ae8-2.eot")
	src         url(BENTON_SANS_PATH + "/0fababca-4914-46dd-9b0f-efbd51f67ae8-2.eot?") format("embedded-opentype"),url(BENTON_SANS_PATH + "/0fababca-4914-46dd-9b0f-efbd51f67ae8-3.woff") format("woff"),url(BENTON_SANS_PATH + "/0fababca-4914-46dd-9b0f-efbd51f67ae8-1.ttf") format("truetype"),url(BENTON_SANS_PATH + "/0fababca-4914-46dd-9b0f-efbd51f67ae8-4.svg#web") format("svg")
	font-style  normal
	font-weight bold

/*@font-face 
	font-family "BentonSans-CondMd"
	src         local("Benton Sans Condensed Medium")
	src         url(BENTON_SANS_PATH + "/66edbae4-0c00-4453-9c58-c0c4cb412064-2.eot")
	src         url(BENTON_SANS_PATH + "/66edbae4-0c00-4453-9c58-c0c4cb412064-2.eot?") format("embedded-opentype"),url(BENTON_SANS_PATH + "/66edbae4-0c00-4453-9c58-c0c4cb412064-3.woff") format("woff"),url(BENTON_SANS_PATH + "/66edbae4-0c00-4453-9c58-c0c4cb412064-1.ttf") format("truetype"),url(BENTON_SANS_PATH + "/66edbae4-0c00-4453-9c58-c0c4cb412064-4.svg#web") format("svg")
	font-style  normal
	font-weight normal
*/
