COLOR_NONE             = transparent
COLOR_BLACK            = #000000
COLOR_WHITE            = #FFFFFF
COLOR_OUTLINE          = #5B9DD9
COLOR_LAPIS_LAZULI     = #1B6790
COLOR_LILY_WHITE       = #EBEAEA
COLOR_SILVER           = #C4C4C4
COLOR_TROUT            = #4D4F53
COLOR_BLUE_GREEN       = #169BBB
COLOR_GAINSBORO        = #DBDBDB
COLOR_LIGHT_GREY       = #D6D5D5
COLOR_COOL_BLACK       = #0A3166
COLOR_OIL              = #333333
COLOR_VIKING           = #47AEC8
COLOR_SAPPHIRE         = #062363
COLOR_SPRAY            = #88CDDD
COLOR_GHOST_GREY       = #EDEDED
COLOR_FRENCH_GREY      = #BDBDBE
COLOR_BODY_TEXT        = COLOR_TROUT
COLOR_BODY_BACKGROUND  = COLOR_WHITE
