style(type='text/css').
	* {
		line-height: 100%;
	}
	html,
	body {
		-ms-text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
		margin: 0;
		min-width: 100% !important;
		padding: 0;
		width: 100% !important;
	}
	img {
		-ms-interpolation-mode: bicubic;
		outline: none;
		text-decoration: none;
	}
	table {
		border-collapse: collapse;
	}
	table td {
		border-collapse: collapse;
		mso-table-lspace: 0pt;
		mso-table-rspace: 0pt;
		padding: 0;
	}
	.yshortcuts,
	.yshortcuts a,
	.yshortcuts a:link,
	.yshortcuts a:visited,
	.yshortcuts a:hover,
	.yshortcuts a span {
		color: #000;
		background: none !important;
		border-bottom: none !important;
		text-decoration: none !important;
	}
	.ReadMsgBody {
		width: 100%;
	}
	.ExternalClass {
		width: 100%;
	}
