COLOR_NONE                  = transparent
COLOR_BYZANTIUM             = #76146F//77216F
COLOR_ICON_COOL_GREY        = #BEC5CB
COLOR_ICON_GREY             = #898989
COLOR_MODULE_LIGHT_GREY     = #F9F9F9
COLOR_MODULE_MEDIUM_GREY    = #EDEDED
COLOR_NAV_BG_GREY           = #E7E7E7
COLOR_NAV_HOVER_GREY        = #8B8D8E
COLOR_NAV_HOVER_BORDER_GREY = #CBCBCB
COLOR_NAVY                  = #062363
COLOR_MAIN_GREY             = #4D4F53
COLOR_WHITE                 = #FFFFFF
COLOR_FOOTNOTES_BORDER_GREY = #D1D3D3
COLOR_PANEL_BACKGROUND      = #FAFAFA
COLOR_LOGIN_PANEL_BORDER    = #A0A0A0
COLOR_LOGIN_PANEL_ERROR     = #9E0B0F
COLOR_BODY_BACKGROUND       = COLOR_WHITE
