button.buttonCTA
	@extend .textBentonSansMd
	@extend .text-8Em
	background-color    COLOR_NONE
	background-position -4px -60px
	border              none
	color               COLOR_WHITE
	cursor              pointer
	height              36px
	letter-spacing      .04em
	line-height         .5
	margin              0
	padding             0
	width               112px