COLOR_NONE   = transparent
COLOR_BLACK  = #000000
COLOR_GOLD   = #BD9B60
COLOR_GREY_1 = #4D4F53
COLOR_GREY_2 = #333333
COLOR_GREY_3 = #E2E2E2
COLOR_GREY_4 = #DBDBDB
COLOR_GREY_5 = #E6E7E7//ADAFAF
COLOR_GREY_6 = #EFEFEF
COLOR_GREY_7 = #CFCFD0
COLOR_NAVY   = #002663
COLOR_TEAL   = #006890
COLOR_WHITE  = #FFFFFF
