// MIXINS

MOBILE_MAX_WIDTH   = s('(max-width:%spx)',400)
LEGAL_MAX_WIDTH    = s('(max-width:%spx)',1000)
TABLET_MAX_WIDTH   = s('(max-width:%spx)',959)
TABLET_MAX_WIDTH_2 = s('(max-width:%spx)',760)
