// CONTENT PLAYBOOK
.module.contentPlaybookModule.bgMediumGrey
	.content_playbook_inner_shadow
	.moduleBody!= DATA.modules.contentPlaybook.body
	a.downloadLink(href='#', id!=DATA.modules.contentPlaybook.link.id)!= DATA.modules.contentPlaybook.link.label
.module_shadow!= BLANK
