// KNOWLEDGE CENTER
.module.knowledgeCenterModule.bgLightGrey
	h3.moduleTitle!= DATA.modules.knowledgeCenter.title
	.moduleBody!= DATA.modules.knowledgeCenter.body
	a.cta(href!=DATA.modules.knowledgeCenter.link.url)!= DATA.modules.knowledgeCenter.link.label
