include ../config

case DOCTYPE_MODE
	when 'strict': doctype strict
	when 'transitional': doctype transitional
	when '1.1': doctype 1.1
	when 'basic': doctype basic
	when 'mobile': doctype mobile
	when 'frameset': doctype frameset
	when 'html': doctype html
	when 'xml': doctype xml
	default: doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type',content='text/html charset=UTF-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		title!= snippet
	body
		block bodyContent
			table: tr: td foo
		include email_css_reset
		include email_responsive
