LAYOUT_WIDTH          = 1020px
INTERNAL_LIST_WIDTH   = 565px
NAV_BAR_HEIGHT        = 41px
TRANSITION_DURATION   = .25s
TRANSITION_EASE       = ease-in-out
IMG_DIR               = '${IMG_DIR}'
VIDEO_PLAYER_HEIGHT   = ${VIDEO_PLAYER_HEIGHT}px
VIDEO_PLAYER_WIDTH    = ${VIDEO_PLAYER_WIDTH}px
AGREEMENT_HEIGHT      = ${AGREEMENT_HEIGHT}px
AGREEMENT_WIDTH       = ${AGREEMENT_WIDTH}px
