- config = {}
- config.headerBorderWidth = 7
- CONTENT_WIDTH_FULL = 600
- CONTENT_PADDING = 50
- CONTENT_WIDTH_MAIN = CONTENT_WIDTH_FULL - CONTENT_PADDING * 2
- BLANK = '&nbsp;'
- COLOR_BG_MAIN = '#FFFFFF'
- COLOR_ACCENT = '#009BBB'