span.icon_modal_close

h1.agreementTitle Distribution and use of the resources in the Content Playbook are limited to the specific terms and conditions below. Please review and accept these terms to proceed with your download.

.agreementBody
	h2 Terms & Conditions

	p Last Modified: March 19, 2014

	p American Express Company, its subsidiaries and affiliates ("American Express", “we”, “our”, “us”) requires that all users that use and distribute certain informational materials located at the URL https://knowledgecenter.americanexpress.com (such website, “The Knowledge Center”; such content made available therein, “Knowledge Center Content”) adhere to the following rules and regulations. By using and distributing the Knowledge Center Content you indicate your acknowledgment and agreement to these terms and conditions of service (“Terms of Service”).

	ol
		li
			h2 KNOWLEDGE CENTER CONTENT. 
 
			p The terms and conditions in these Terms of Service govern your use and distribution of Knowledge Center Content. American Express may make available Knowledge Center Content on The Knowledge Center from time to time, which you may use and distribute in accordance with the terms hereof. The specific content of the Knowledge Center Content and the frequency at which it is made available shall be at the sole discretion of American Express. American Express is under no obligation to provide the Knowledge Center Content to you directly, or to make such Knowledge Center Content available on The Knowledge Center. If you wish to use or distribute the Content, you must do so in accordance with these Terms of Service. You must further abide by the terms of service of The Knowledge Center (as modified by these Terms of Service). In the event of any conflict between these Terms of Service and the terms of service of The Knowledge Center, the terms of these Terms of Service shall prevail. From time to time, and in our sole discretion, we may make available guidance materials for use of the Knowledge Center Content (such guidance materials “Content Playbook”), which may contain mandatory or suggested guidelines for use of the Knowledge Center Content. You agree to abide by any mandatory guidelines indicated in any Content Playbook.

		li
			h2 REQUIREMENTS FOR USE OF KNOWLEDGE CENTER CONTENT.

			p
				| (i) You may distribute the Knowledge Center Content in any of your media channels by embedding an article or visual in your media channels, provided that you do not alter or modify such article or visual, and it appears in its complete form. Such media channels may include, but are not limited to, your newsletters, websites and your pages on social media websites.
				br
				| (ii) You may otherwise distribute the Knowledge Center Content in your media channels by directly hyperlinking to Knowledge Center Content on The Knowledge Center or.
				br
				| (iii) We may provide introductory copy for each piece of Knowledge Center Content in the relevant Content Playbook. You may use such introductory copy when using a piece of Knowledge Center Content in your media channels.
				br
				| (iv) All uses of the Knowledge Center Content in your media channels must include attribution to “American Express Merchant Services.” For example, you may state “This article is brought to you by American Express Merchant Services,” or “This article is brought to you by American Express Merchant Services and [your name]”
		li
			h2 LICENSE.

			p You acquire no rights or licenses in or to the Knowledge Center Content other than the limited non-exclusive right to use and distribute the Knowledge Center Content in accordance with these Terms of Service. Should you choose to use or distribute Knowledge Center Content, you shall do so pursuant to these Terms of Service. The Knowledge Center Content is licensed to you by American Express solely for your own noncommercial use pursuant to these Terms of Service and American Express does not transfer any other rights to you. 

			p You understand and agree that use of the Knowledge Center Content is at your sole risk. Further, you understand that the views expressed in the Knowledge Center Content do not necessarily reflect the views of American Express, its affiliates, or its employees.

		li
			h2 INDEMNIFICATION.

			p You agree to indemnify and hold us, our parents, subsidiaries, affiliates, officers and employees, harmless from and against any claim or demand, including reasonable legal fees, made by any third party resulting from or arising out of your use of the Knowledge Center Content, any breach of these Terms of Service by you, or any negligence or willful misconduct with respect to your use of the Knowledge Center Content. 

		li
			h2 INTELLECTUAL PROPERTY AND HYPERLINKING.

			p.indent
				span.textBold
					| A.!{BLANK}
					span.textUnderline General
				| . The Marks displayed in any portions of the Knowledge Center Content, are the property of American Express, its licensors and/or other parties. 

			p As between you and American Express all elements of the Knowledge Center Content are and shall remain American Express’ sole and exclusive property subject only to the rights granted to you hereunder to use the Knowledge Center Content. You acquire no title or ownership rights in the Knowledge Center Content provided to you. Nothing herein shall be construed to restrict, impair or deprive American Express of any of its Intellectual Property Rights (as defined below) that existed prior to or arise in connection with the Knowledge Center Content. “Intellectual Property Rights” means any and all rights and registrations (including all renewals and extensions thereof) existing from time to time under patent law, copyright law, trade-secret law, trademark law, moral rights law, unfair competition law, any other intellectual, industrial and proprietary rights relating to intangible property, or similar rights of every kind or nature and however designated, whether arising by operation of law, contract, license or otherwise in the United States of America and throughout the world. The Knowledge Center Content is subject to the protections of all laws applicable to Intellectual Property Rights and may only be used by you in a manner consistent with the permissions set forth herein. You acknowledge our Intellectual Property Rights in the Knowledge Center Content and agree not to challenge the enforceability of any such rights in the Knowledge Center Content or otherwise claim ownership of any portion of the Knowledge Center Content provided to you herein. You must not remove, obscure or in any way modify any of our intellectual property notices embedded in or in any way displayed upon the materials comprising the Knowledge Center Content.

			p You acknowledge the Knowledge Center Content has been selected, arranged, created, compiled, prepared, developed, revised and/or coordinated by American Express, its subsidiaries and affiliates and others at significant expense of time, money and resources, and that its misappropriation or unauthorized use, redistribution, resale or relicense by you to others for commercial gain would unfairly and/or irreparably harm American Express, its subsidiaries and affiliates and such other parties. As such you agree to take all commercially reasonable precautions to prevent and/or stop all such misappropriation or usage of the Knowledge Center Content. You acknowledge, injunctive relief, without excluding any other right or remedy, shall be an appropriate remedy to enforce any breach of this or any related section.

			p.indent
				span.textBold
					| B.!{BLANK}
					span.textUnderline Hyperlinking
				| . In accordance with Section 2 above, you may embed a “Hyperlink” in your medial channels to specific Knowledge Center Content on The Knowledge Center. The term “Hyperlink” shall mean direct link from your media channel to Knowledge Center Content on The Knowledge Center. The hyperlink is accomplished by clicking on the designated icon in your media channel. The term “URL” shall mean the universal resource locators, which identify the Internet addresses of our designated website. Amex hereby grants to you a non-exclusive, non-transferable, revocable right to hyperlink to the website designated by Amex from your media channels. Amex hereby grants to you, the non-exclusive, non-transferable, revocable right to embed the bit-map image, as specified by Amex, in your media channels, for the purposes of establishing a hyperlink in accordance with these Terms of Service. Each party shall be responsible for their own costs, including any and all costs incurred in the development, implementation and maintenance of their link, icons and trademarks used herein. You shall maintain all links as described above and, in the event of a change in the relevant URL, adjust the links accordingly as soon as possible.

		li
			h2 JURISDICTION/GOVERNING LAW

			p Users of The Knowledge Center agree to submit to the laws of the State of New York, USA and applicable federal law without regard to conflicts of laws principles.

a.agreementConfirm.cta(href='#') Accept Terms and Download Playbook