//- =============
//- = CONSTANTS =
//- =============
- DOCTYPE_MODE       = 'strict'
- CONTENT_WIDTH_FULL = 600
- CONTENT_PADDING    = 25
- CONTENT_WIDTH_MAIN = CONTENT_WIDTH_FULL - CONTENT_PADDING * 2
- BLANK              = '&nbsp;'


- _config = {type:{},sizes:{},colors:{},images:{},text:{},urls:{}}

//- ========
//- = TYPE =
//- ========
- _config.type.coreFamily             = 'Arial,Helvetica,sans-serif'
- _config.type.coreSize               = '12px'
- _config.type.snippetSize            = '10px'
- _config.type.headerSize             = '24px'
- _config.type.headerLineHeight       = '28px'
- _config.type.section1LineHeight     = '16px'
- _config.type.quickTipTitleSize      = '15px'
- _config.type.quickTipBodySize       = '11px'
- _config.type.quickTipBodyLineHeight = '14px'
- _config.type.getACardTitleSize      = '15px'
- _config.type.getACardBodySize       = '13px'
- _config.type.getACardBodyLineHeight = '18px'
- _config.type.socialMediaLabelSize   = '10px'
- _config.type.footerLinksSize        = '11px'
- _config.type.footerBodySize         = '11px'
- _config.type.footerBodyLineHeight   = '15px'
- _config.type.footerBodyLetterSpacing = '-.005em'


//- =========
//- = SIZES =
//- =========
- _config.sizes.quickTipPadding               = 15
- _config.sizes.quickTipSection1Width         = 362
- _config.sizes.section1BorderBottomWidth     = 2
- _config.sizes.upperSectionBorderBottomWidth = 6
- _config.sizes.socialMediaIconsPaddingLeft   = 8
- _config.sizes.footerLinksBorderLeftWidth    = 1

//- ==========
//- = COLORS =
//- ==========
- _config.colors.bgMain        = '#EFEFEF' // light grey
- _config.colors.bgContent     = '#FFFFFF' // white
- _config.colors.bgFooter      = '#FFFFFF' // white
- _config.colors.accent        = '#062363' // navy
- _config.colors.headerText    = '#FFFFFF' // white
- _config.colors.link          = '#006890' // teal
- _config.colors.textMain      = '#4D4F53' // medium grey
- _config.colors.quickTipLabel = '#FFFFFF' // white
- _config.colors.bgQuickTip    = '#F5F5F5' // light grey

//- ==========
//- = IMAGES =
//- ==========
//- - _config.images.path         = 'images'
- _config.images.path         = 'http://info.americanexpress.com/rs/americanexpressopen/images'
- _config.images.fullHeader   = {src:'header.jpg',width:600,height:193}
- _config.images.header       = [{src:'header_w.png',width:150,height:44},{src:'header_e.jpg',width:450,height:44},{src:'header_s.jpg',width:600,height:149}]
- _config.images.cta1         = {src:'cta_01.png',width:132,height:29}
- _config.images.cta2         = {src:'cta_02.png',width:131,height:29}
- _config.images.quickTip     = {src:'quick_tip_icon.png',width:44,height:35}
- _config.images.twitter      = {src:'twitter.png',width:19,height:19,alt:'Twitter'}
- _config.images.facebook     = {src:'facebook.png',width:19,height:19,alt:'Facebook'}
- _config.images.linkedin     = {src:'linkedin.png',width:19,height:19,alt:'LinkedIn'}

//- ========
//- = TEXT =
//- ========
- _config.text.findACard             = {pre:'Ready to ',text:'find a Card',post:'?'}
- _config.text.articleLink           = 'Read Full Article'
- _config.text.quickTipLabel         = 'Quick Tip'
- _config.text.socialMedia           = 'Follow us'

- _config.text.getACardTitle         = 'Get a Card that works for your business.'
- _config.text.getACardBody     = 'Business Cards from American Express OPEN offer many benefits, such as <b>easy-to-earn rewards</b> and <b>flexible payment options.</b> Choose a Card that matches your unique needs today.'
- _config.text.getACardLink          = 'Find a Card'

- _config.text.customerService       = 'Contact Customer Service'
- _config.text.privacyStatement      = 'View Our Privacy Statement'
- _config.text.addressBook           = 'Add Us to Your Address Book'
- _config.text.unsubscribe           = 'Unsubscribe'

- _config.text.footerParagraph1Part1 = 'To learn more about email security or report a suspicious email, please visit us at'
- _config.text.footerParagraph1Part2 = 'americanexpress.com/phishing'
- _config.text.footerParagraph1Part3 = '. We kindly ask you not to reply to this email but instead contact'
- _config.text.footerParagraph1Part4 = 'Customer Service'
- _config.text.footerParagraph1Part5 = '.'

- _config.text.footerParagraph2      = 'This email advertisement was sent to: %email%. You are receiving this email because you signed up for Small Business Insights.'

- _config.text.footerParagraph3Line1 = 'American Express Customer Service Department'
- _config.text.footerParagraph3Line2 = 'P.O. Box 297817 | Ft. Lauderdale, FL 33329-7817'

- _config.text.footerParagraph4      = '&copy; 2014 American Express Bank, FSB. All rights reserved.'

//- ========
//- = URLS =
//- ========
- _config.urls.findACard        = 'https://www.americanexpress.com/us/small-business/credit-cards/#get-card-advice/44232'
- _config.urls.open             = 'http://www.open.com'
- _config.urls.twitter          = 'https://twitter.com/openforum'
- _config.urls.facebook         = 'https://www.facebook.com/Open'
- _config.urls.linkedin         = 'http://www.linkedin.com/company/american-express-open'
- _config.urls.customerService  = 'https://www.americanexpress.com/?fs=y&opencontactus=1'
- _config.urls.privacyStatement = 'https://www.americanexpress.com/us/content/legal-disclosures/online-privacy-statement.html'
- _config.urls.addressBook      = 'https://www.americanexpress.com/us/content/account/add-us-to-your-address-book.html?om_rid=AAAAAA&om_mid=&om_lid=axp9'
- _config.urls.unsubscribe      = 'https://www373.americanexpress.com/CPCi/unsubscribe.do?add={{lead.Encrypted Email Address:default=}}&srcid=MARKETO&comm=OPACQU&cmpnid=&cmpntype='
- _config.urls.phishing         = 'http://americanexpress.com/phishing'


